## Calling the api to get data

In [9]:
import cdsapi

c = cdsapi.Client()

c.retrieve(
    'reanalysis-era5-single-levels-monthly-means',
    {
        'product_type': 'monthly_averaged_reanalysis_by_hour_of_day',
        'variable': '2m_temperature',
        'year': [
            '2018', '2019', '2020',
            '2021', '2022',
        ],
        'month': [
            '01', '02', '03',
            '04', '05', '06',
            '07', '08', '09',
            '10', '11', '12',
        ],
        'time': [
            '00:00', '01:00', '02:00',
            '12:00', '13:00', '14:00',
        ],
        'area': [
            39.39, -123.77, 35.14,
            -118.77,
        ],
        'format': 'grib',
    },
    'download.grib')

2023-02-05 03:03:28,226 INFO Welcome to the CDS
2023-02-05 03:03:28,227 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels-monthly-means
2023-02-05 03:03:28,288 INFO Request is queued
2023-02-05 03:03:29,335 INFO Request is running
2023-02-05 03:04:17,926 INFO Request is completed
2023-02-05 03:04:17,927 INFO Downloading https://download-0010-clone.copernicus-climate.eu/cache-compute-0010/cache/data1/adaptor.mars.internal-1675562609.0645404-27570-8-d41c3d41-4ce2-4088-9faf-de73fef6b77e.grib to download.grib (337.5K)
2023-02-05 03:04:18,306 INFO Download rate 891.3K/s

Result(content_length=345600,content_type=application/x-grib,location=https://download-0010-clone.copernicus-climate.eu/cache-compute-0010/cache/data1/adaptor.mars.internal-1675562609.0645404-27570-8-d41c3d41-4ce2-4088-9faf-de73fef6b77e.grib)

In [1]:
import xarray as xr
import pandas as pd

### Converting t2m to a dataframe

In [2]:
ds=xr.open_dataset("hello.grib",engine='cfgrib',backend_kwargs={'indexpath': ''})
data=ds['t2m'].to_dataframe()
data

                                        number   step  surface  \
time                latitude longitude
2018-01-01 00:00:00 39.39    -123.77         0 0 days      0.0
                             -123.52         0 0 days      0.0
                             -123.27         0 0 days      0.0
                             -123.02         0 0 days      0.0
                             -122.77         0 0 days      0.0
...                                        ...    ...      ...
2022-12-01 14:00:00 35.14    -119.77         0 0 days      0.0
                             -119.52         0 0 days      0.0
                             -119.27         0 0 days      0.0
                             -119.02         0 0 days      0.0
                             -118.77         0 0 days      0.0

                                                valid_time         t2m
time                latitude longitude
2018-01-01 00:00:00 39.39    -123.77   2018-01-01 00:00:00  285.277344
                             -123.52   2018-01-01 00:00:00  285.104980
                             -123.27   2018-01-01 00:00:00  284.498535
                             -123.02   2018-01-01 00:00:00  283.796875
                             -122.77   2018-01-01 00:00:00  283.614746
...                                                    ...         ...
2022-12-01 14:00:00 35.14    -119.77   2022-12-01 14:00:00  280.142822
                             -119.52   2022-12-01 14:00:00  280.525146
                             -119.27   2022-12-01 14:00:00  280.134521
                             -119.02   2022-12-01 14:00:00  279.434814
                             -118.77   2022-12-01 14:00:00  277.906494

[136080 rows x 5 columns]

#### Exporting as a csv

In [ ]:
data["t2m"].to_csv("final_data.csv")